services:
  db:
    image: postgres:15
    container_name: farmacia_postgres
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # Usamos directamente las variables que el contenedor de Postgres entiende
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"

volumes:
  postgres_data: